flows.json
[{"id":"8a64a8c7.0e8d08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"8a64a8c7.0e8d08","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"71b75cf.3b736a4","type":"inject","z":"8a64a8c7.0e8d08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":220,"wires":[["a48396c9.c9f958"]]},{"id":"a48396c9.c9f958","type":"debug","z":"8a64a8c7.0e8d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":220,"wires":[]}]