flows.json
[{"id":"8a64a8c7.0e8d08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"8a64a8c7.0e8d08","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"59a095bf.3fd6ec","type":"inject","z":"8a64a8c7.0e8d08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["f4c65bcf.340a28"]]},{"id":"f4c65bcf.340a28","type":"debug","z":"8a64a8c7.0e8d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":220,"wires":[]}]
